*.hi
*.o
.ghc.environment.*
.stack-work/
.cabal-sandbox
cabal.project.local*
cabal.sandbox.config
.DS_Store
.vscode
.code-workspace.*
*.swp
*.keter
/dist
/dist-*
/lodjur.toml
/lodjur.dhall
/lodjur-worker.dhall
tags
result
gitcache
workdirs
_*
