html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #eee;
  color: #111;
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.app {
  display: grid;
  grid-template-rows: 2.5rem 1fr 2.5rem;
  grid-template-columns: minmax(10rem, 1fr) minmax(16rem, 6fr) minmax(8rem, 1fr);
  height: 100%;
  width: 100%;
}

.app.basic {
  grid-template-areas: "title   head    user"
                       "content content content"
                       "footer  footer  footer";
}

.app.navaction {
  grid-template-areas: "title   tabbar  user"
                       "navbar  content action"
                       "navbar  footer  action";
}

.title-box {
  grid-area: title;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: larger;
  color: #FFFFFF;
}

.head-box {
  grid-area: head;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.head {
  font-size: larger;
}

.tabbar {
  grid-area: tabbar;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: bottom;
}

.user-box {
  grid-area: user;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-right: 1em;
}

.user {
  margin-right: 0.5em;
}

.tabbar {
  grid-area: tabbar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.header {
  background-color: #394B55;
  color: #FDFDFD;
}

.card-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #546C78;
}

.card-sublist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-item {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 0.25rem;
}

.card-trim {
  width: 0.5rem;
  background-color: #E1E9EC;
}

.card-trim.left {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.card-trim.right {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

@keyframes card-inprogress {
  0%   { background-color: hsl(240, 100%, 75%); }
  100% { background-color: hsl(240, 100%, 85%); }
}

.status-background.queued {
  background-color: rgb(70, 70, 180);
}

.status-background.inprogress {
  animation-name: card-inprogress;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.55,.09,.68,.53);
  background-color: hsl(240, 100%, 75%);
}

.status-background.success {
  background-color: rgb(0, 180, 0);
}

.status-background.failure {
  background-color: rgb(180, 0, 0);
}

.status-background.cancelled {
  background-color: rgb(60, 60, 00);
}

.status-background.neutral {
  background-color: #E1E9EC;
}

.status-background.other {
  background-color: rgb(180, 0, 180);
}

.card-col {
  display: flex;
  flex-direction: column;
  width: 12em;
  background-color: #E1E9EC;
  color: #394B55;
  padding: 0.5rem;
}

.card-col.narrow {
  width: 8em;
}

.card-col.wide {
  width: 16em;
}

.card-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.attr-field {
  width: 1.5em;
}

.attr-val {
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
  white-space: nowrap;
}

.attr-val:after {
  content: '';
  position: absolute;
  right: 0px;
  width: 1em;
  height: 100%;
  background: linear-gradient(to right, rgba(225, 233, 236, 0), rgba(225, 233, 236, 1));
}

.job-list {
  display: flex;
  flex-direction: column;
}

.job-list-item {
  border-style: solid;
  border-color: black;
  background-color: #E1E9EC;
  color: #394B55;
}

.job-commit-attr {
  display: flex;
  flex-direction: row;
}

.job-commit-attr > div:first-child {
  min-width: 2em;
  flex: 0 0;
}

.job-commit-attr > div {
  flex: 1 1;
}


/* .left-panel {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-width: 20em;
  max-width: 40em;
}

.main-panel {
  width: auto;
  display: flex;
  flex-direction: column;
  flex: 5 1;
}

.heading {
  background-color: #394B55;
  color: #FDFDFD;
  display: flex;
  flex-direction: row;
  z-index: -2;
  height: 2.5em;
  box-shadow: inset 0px -12px 16px -16px black;
}

.heading .app-header {
  font-size: large;
  color: #FFFFFF;
}

.heading .left-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  min-width: 20em;
  max-width: 40em;
}

.heading .main-panel {
  width: auto;
  display: flex;
  flex-direction: row;
  flex: 5 1;
}

.heading .tab {
  min-width: 10em;
  max-width: 20em;
  flex: 1 1;
  margin: 0;
  border-radius: 8px 8px 0px 0px;
  box-shadow: inset 0px -12px 16px -16px black, 0 0 8px 0px black;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading .active {
  background-color: #546C78;
  box-shadow: 0 0 8px 0px black;
}

.heading .inactive {
  background-color: #455A64;
  z-index: -1;
}

.heading .user {
  padding-right: 2em;
  flex: 1 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jobs-outline {
  background-color: #E1E9EC;
  color: #394B55;
  text-align: left;
  padding: 1em 1em;
  line-height: 250%;
  flex: 1 1;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.job-tree {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}

.job-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.job {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  cursor: pointer;
}

.job.active {
  background-color: #546C78;
  color: #FEFEFE;
}

.job:hover {
  background-color: #394B55;
  color: #E1E9EC;
}

.actions {
  background-color: #394B55;
  color: #FEFEFE;
  text-align: left;
  padding: 1em 1em;
  line-height: 200%;
  box-shadow: inset 0px 4px 8px -4px black;
  z-index: -1;
}

.actions .disabled {
  color: #C5C5C5;
}

.outline-symbol {
  width: 2em;
  display: inline-block;
}

.status-symbol {
  width: 2em;
  display: inline-block;
}

.left-panel .success {
  color: hsl(106, 30%, 50%);
}

.left-panel .failure {
  color: hsl(0, 30%, 50%);
}

.main-panel .success {
  color: hsl(106, 60%, 60%);
}

.main-panel .failure {
  color: hsl(0, 60%, 60%);
}

.main-panel .job-detail {
  background-color: #546C78;
  color: #FEFEFE;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
}

.job-head {
  font-size: large;
  margin: auto 0.5em;
  flex: 1 0;
  min-width: 6em;
  display: flex;
  flex-direction: row;
}

.job-head > div:first-child {
  min-width: 2em;
  flex: 0 0;
}

.job-head > div {
  flex: 1 1;
}

.job-commit {
  display: flex;
  flex-direction: column;
  line-height: 150%;
  margin: 0 1em;
  flex: 2 1;
}

.job-commit-attr {
  display: flex;
  flex-direction: row;
}

.job-commit-attr > div:first-child {
  min-width: 2em;
  flex: 0 0;
}

.job-commit-attr > div {
  flex: 1 1;
}

.commit-left .job-commit-attr > div {
  text-align: start;
}

.commit-right .job-commit-attr > div {
  text-align: end;
}

.commit-left .job-commit-attr {
  display: flex;
  flex-direction: row;
}

.commit-right .job-commit-attr{
  display: flex;
  flex-direction: row-reverse;
}

.main-panel .job-info {
  flex: 1 1;
  padding: 1em 2em;
  box-shadow: inset 0px -2px 20px -8px black;
  overflow: auto;
}

.job-log {
  font-family: 'Source Code Pro', 'Iosevka Term Web', monospace;
  white-space: pre-wrap;
} */
