html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #eee;
  color: #111;
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.app {
  display: grid;
  grid-template-rows: 2.5rem minmax(6rem, 1fr) 2.5rem;
  grid-template-columns: minmax(10rem, 1fr) minmax(10rem, 1fr) minmax(10rem, 1fr);
  height: 100%;
  width: 100%;
}

.app.basic {
  grid-template-areas: "title   head    user"
                       "content content content"
                       "footer  footer  footer";
}

.app.navaction {
  grid-template-areas: "title   tabbar  user"
                       "navbar  content action"
                       "navbar  footer  action";
}

.title-box {
  grid-area: title;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: larger;
  color: #FFFFFF;
  margin-left: 2em;
}

.head-box {
  grid-area: head;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.head {
  font-size: larger;
}

.tabbar {
  grid-area: tabbar;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: bottom;
}

.user-box {
  grid-area: user;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2em;
}

.icon {
  min-width: 2em;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menutop {
  min-height: 2.5rem;
  background-color: #394B55;
}

.menuitem {
  display: none;
  flex-direction: row;
  align-items: center;
  background-color: #394B55;
  padding: 1em;
  z-index: 1;
}

a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.menu :link {
  color: #fff;
}

.menu :hover {
  background-color: hsl(201, 20%, 14%);
  cursor: pointer;
}

.menu:hover .menuitem {
  display: flex;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1em;
}

.user .avatar {
  max-height: 2.5rem;
  max-width: 2.5rem;
  padding-right: 0.5em;
}

.tabbar {
  grid-area: tabbar;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.footer {
  grid-area: footer;
  background-color: #394B55;
  color: #FDFDFD;
}

.header {
  background-color: #394B55;
  color: #FDFDFD;
}

.card-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #546C78;
  overflow: auto;
}

.card-sublist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-item {
  display: flex;
  flex-direction: row;
}

.card-item:nth-child(odd) {
  background-color: hsl(200, 18%, 41%);
}

.card-item:nth-child(even) {
  background-color: hsl(200, 18%, 39%);
}

.card {
  display: flex;
  flex-direction: row;
  margin: 0.25rem;
}

.card-trim {
  width: 0.5rem;
  background-color: hsl(196, 22%, 90%);
}

.card-sublist .card-trim {
  width: 0.5rem;
  background-color: hsl(196, 22%, 80%);
}

.card-trim.left {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.card-trim.right {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.card-col {
  display: flex;
  flex-direction: column;
  width: 12em;
  background-color: hsl(196, 22%, 90%);
  color: hsl(201, 20%, 28%);
  padding: 0.5rem;
}

.card-sublist .card-col {
  background-color: hsl(196, 22%, 80%);
  color: hsl(201, 20%, 28%);
}

.card-col.narrow {
  width: 8em;
}

.card-col.wide {
  width: 16em;
}

.card-col.extrawide {
  width: 40em;
}

.card-col.fullwidth {
  width: 80em;
}

.card-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.attr-field {
  min-width: 1.5em;
}

.attr-val {
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.attr-val:after {
  content: '';
  position: absolute;
  right: 0px;
  width: 1em;
  height: 100%;
  background: linear-gradient(to right, hsla(196, 22%, 90%, 0), hsl(196, 22%, 90%));
}

.rspectest .attr-val {
  white-space: pre-wrap;
  width: 100%;
}

.rspectest .fullwidth .attr-val {
  overflow: auto;
  max-height: 10em;
}

.rspectest .fullwidth .attr-val:after {
  display: none;
}

.card-sublist .attr-val:after {
  background: linear-gradient(to right, hsla(196, 22%, 80%, 0), hsl(196, 22%, 80%));
}

.job-list {
  display: flex;
  flex-direction: column;
}

.job-list-item {
  border-style: solid;
  border-color: black;
  background-color: #E1E9EC;
  color: #394B55;
}

.job-commit-attr {
  display: flex;
  flex-direction: row;
}

.job-commit-attr > div:first-child {
  min-width: 2em;
  flex: 0 0;
}

.job-commit-attr > div {
  flex: 1 1;
}

@keyframes card-inprogress {
  0%   { background-color: hsl(240, 100%, 75%); }
  100% { background-color: hsl(240, 100%, 85%); }
}

.status-background.queued {
  background-color: rgb(70, 70, 180);
}

.status-background.inprogress {
  animation-name: card-inprogress;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.55,.09,.68,.53);
  background-color: hsl(240, 100%, 75%);
}

.status-background.success {
  background-color: rgb(0, 180, 0);
}

.status-background.failure {
  background-color: rgb(180, 0, 0);
}

.status-background.cancelled {
  background-color: rgb(60, 60, 00);
}

.status-background.neutral {
  background-color: #E1E9EC;
}

.status-background.other {
  background-color: rgb(180, 0, 180);
}

.time > * {
  display: none;
}

.time > .time-pretty {
  display: block;
}

.duration > * {
  display: none;
}

.duration > .duration-pretty {
  display: block;
}

.job-list *[data-job-id] {
  cursor: pointer;
}

.job-log {
  font-family: 'Source Code Pro', 'Iosevka Term Web', monospace;
  white-space: pre-wrap;
}

.job-rspec {
  font-family: 'Source Code Pro', 'Iosevka Term Web', monospace;
  white-space: pre-wrap;
}

.rspec-tests {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.rspec-test {
  display: flex;
  flex-direction: row;
}

.rspec-test:nth-child(odd) {
  background-color: hsl(196, 22%, 90%);
}

.rspec-test:nth-child(even) {
  background-color: hsl(196, 22%, 88%);
}

.rspec-test > div {
  overflow: hidden;
  margin-right: 1em;
  width: 20em;
}

.rspec-test .wide {
  width: 40em;
}

.rspec-test .narrow {
  width: 10em;
}

.rspec-test .scroll {
  overflow: auto;
  width: max-content;
  max-height: 10em;
  white-space: pre;
}