.bare-page {
  /* margin: 2em auto; */
}

.root-card {
  margin: 0.5em auto 0 auto;
}

.child-card {
  margin: 0 auto;
}

.line {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
}

.line:hover {
  background: #eee;
}
